<div class="col-lg-4 col-md-6 event_container">
    <div class="l_news_item event_sub_container">
        <div class="l_news_img"><a href="#"><img class="img-fluid" src="{{ img_src }}" alt=""></a></div>
        <div class="l_news_content event_content_container">
            <a href="#"><h4>{{ title }}</h4></a>
            <p>{{ description }}</p>
            <a class="more_btn" href="#">Learn More</a>
        </div>
    </div>
</div>